<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:b="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<http>

		<intercept-url pattern="/admin/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrito/**" access="ROLE_USUARIO,ROLE_ADMINISTRADOR" />
		<form-login login-page="/publico/login.jsf"
			always-use-default-target="false" default-target-url="/restrito/painel_de_controle.jsf"
			authentication-failure-url="/publico/login.jsf?login_error=1" />
		<logout logout-success-url="/publico/login.jsf" />
		<remember-me />
	</http>

	<authentication-manager>
		<authentication-provider>
		<password-encoder hash="md5" />
			<jdbc-user-service data-source-ref="gsfarmaDataSource"
				authorities-by-username-query="select u.email, p.tipo_permissao from usuario as u 
												inner join usuario_permissao d on u.COD_USUARIO = d.COD_USUARIO
												inner join permissao p on p.COD_PERMISSAO = d.COD_PERMISSAO 
												WHERE u.email = ?"
				users-by-username-query="SELECT email, senha, ativo 
									   FROM usuario 
									  WHERE email = ?" />
		</authentication-provider>
	</authentication-manager>
</b:beans>
